@import "../../node_modules/bootstrap/scss/bootstrap.scss";

.hidden{
    display: none;
}

header .container{
    display: flex;
    flex-direction: row;
}

// 
form div{
    position: relative;
}

form .counter{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

