@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

.hidden{
    display: none;
}

header .container{
    display: flex;
    flex-direction: row;
}

// character counter positioning
form div{
    position: relative;
}

form .counter{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#loadPostsBtn{ //Load more button positioning
    display: block;    
}

//post header
.card-header{
    display: flex;
    justify-content: space-between;
}

.user{
    font-weight:650;
}

//post image
.postImg{
    max-height: 400px;
    object-fit: contain; //image must maintain aspect ratio but is resized
}

#imgPreview{
    height: 100px;
    object-fit: contain;
}